{% assign posts=site.posts | where:"lang", "en" %}
<div class="posts">
<!-- two columns -->
{% for default in posts %}
    {% assign translation = site.posts | where:"ref", default.ref | where:"lang", page.lang %}
    {% if translation[0] %}
        <div><span>{{ translation[0].date | date_to_string }}</span> » <a href="{{ translation[0].url }}" title="{{ translation[0].title }}">{{ translation[0].title }}</a></div>
    {% else %}
        <div><span>{{ default.date | date_to_string }}</span> » <a href="{{ default.url }}" title="{{ default.title }}">{{ default.title }}</a></div>
    {% endif %}
{% endfor %}
</div>
