<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
			{% assign homes=site.pages | where:"ref", "home" %}
			{% assign abouts=site.pages | where:"ref", "about" %}
			{% assign cvs=site.pages | where:"ref", "cv" %}
			{% assign blogs=site.pages | where:"ref", "blog" %}
			{% assign home=homes | where:"lang", page.lang %}
			{% if home | size == 0 %}
				{% assign home=homes | where:"lang", "en" %}
			{% endif %}
			{% assign about=abouts | where:"lang", page.lang %}
			{% if about | size == 0 %}
				{% assign about=abouts | where:"lang", "en" %}
			{% endif %}
			{% assign cv=cvs | where:"lang", page.lang %}
			{% if cv | size == 0 %}
				{% assign cv=cvs | where:"lang", "en" %}
			{% endif %}
			{% assign blog=blogs | where:"lang", page.lang %}
			{% if blog | size == 0 %}
				{% assign blog=blogs | where:"lang", "en" %}
			{% endif %}
	    		<ul>
				{% if home | size == 1 %}
	        		<li><a href="{{ home[0].url }}">Home</a></li>
				{% endif %}
				{% if about | size == 1 %}
		        	<li><a href="{{ about[0].url }}">About</a></li>
				{% endif %}
				{% if cv | size == 1 %}
	        		<li><a href="{{ cv[0].url }}">CV</a></li>
				{% endif %}
				{% if blog | size == 1 %}
	        		<li><a href="{{ blog[0].url }}">Blog</a></li>
				{% endif %}
	    		</ul>
			</nav>
			<ul>
			{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
			{% for page in pages %}
			  <li>
			    <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
			  </li>
			{% endfor %}
			</ul>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/BenjaminKnecht">github.com/BenjaminKnecht</a></li>
				</ul>
			</footer>
		</body>
	</html>
